
<div class="container">
  <div class="title">
    <p>Gestión de Áreas</p>
  </div>
  <div>
    <form class="area-form" [formGroup]="areaForm" (ngSubmit)="saveArea()">
      <div class="paragraph">agregar una nueva area</div>
      <div class="input-group mb-4">
        <label class="col-sm-6">
          <input type="text" class="form-control" placeholder="Ingrese el nombre del área" formControlName="areaName">
          <span class="alert" *ngIf="this.areaForm.get('areaName')?.errors?.['maxlength']">
            (Maximo 20 caracteres)
          </span>


        </label>
        <button class="btn btn btn-primary mb-2 mx-2" type="submit" >Guardar</button>
      </div>
    </form>
  </div>
  <br>

<div class="title">
  <p>Listas de áreas</p>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-ligth">
    <tr>
      <th scope="row" class="title_table">#</th>
      <th scope="row" class="title_table">Nombre del área</th>
      <th scope="row" class="title_table icon">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of area; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.areaName}}</td>
      <td class="icon"><button type="button" class="btn btn-success" [routerLink]="['edit_area',item.areaId]"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger mx-2" (click)="deleteArea(item.areaId)"><i class="fas fa-trash"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>

</div>


