          <div class="container_cards">

  <div class="card">
    <div class="cover">
      <img src="../../../../../assets/medianet.jpg">
      <div class="img_back"></div>
    </div>
    <div class="description">
      <h2>Proyecto Medianet</h2>
      <h3>Cliente:</h3>
      <h3>Area:</h3>
      <input type="button" value="Ver Subproyectos" routerLink="subprojectsM">
    </div>
  </div>

  <div class="card">
    <div class="cover">
      <img src="../../../../../assets/atc.jpg">
    </div>
    <div class="description">
      <h2>Proyecto ATC</h2>
      <h3>Cliente:</h3>
      <h3>Area:</h3>
      <input type="button" value="Ver Subproyectos" routerLink="subprojectsM">
    </div>
  </div>
</div>


