<nav class="navbar navbar-light bg-light">
  <div class="search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
  <div class="user">
    <!-- <img src="../../../assets/Login.png" class="img" id="imagen">
    <select name="selec">
      <option class="btn btn-sm btn-color mx-1" type="button" [routerLink]="'teams/team-task'" >Tareas por Equipo</option>
      <option class="btn btn-sm btn-color mx-1" type="button" role="link" onclik="#" >Documentación</option>
      <option class="btn btn-sm btn-color mx-1" type="button" role="link" onclik="#" >Profile</option>
      <option class="btn btn-sm btn-color mx-1" type="button" type="button"  routerLink="/auth" >Cerrar sesión</option>



  </select> -->
  <button class="btn btn-sm btn-color mx-1" type="button" [routerLink]="'teams/team-task'">Cerrar sesión</button>
    <button class="btn btn-sm btn-color mx-1" type="button" role="link" onclik="#">Documentación</button>
    <button class="btn btn-sm btn-color mx-1" type="button" role="link" onclik="#">Profile </button>
    <button class="btn btn-sm btn-color_open mx-1" type="button"  routerLink="/auth" >Cerrar sesión</button>
  </div>


</nav>

