<nav class="navbar navbar-light bg-light">
  <div class="search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
  <div class="user">
    <button class="btn btn-sm btn-color mx-1" type="button" [routerLink]="'teams/team-task'">Tareas por Equipo</button>
    <button class="btn btn-sm btn-color mx-1" type="button" role="link" onclik="#">Documentación</button>
    <button class="btn btn-sm btn-color mx-1" type="button" role="link" onclik="#">Profile </button>
    <button class="btn btn-sm btn-color_open mx-1" type="button"  routerLink="/auth" >Cerrar sesión</button>
  </div>

</nav>

