<main class="login-design">
  <div class="waves">
    <img src="../../../../../assets/logo%20iz.jpg" class="img-login">
  </div>
  <div class="login">
    <div class="login-data">
      <img src="../../../../../assets/Group%204.svg">
      <h1>Inicio De Sesion</h1>
      <form class="login-form">
        <div class="input-group">
          <label class="input-fill">
            <input type="email" name="email" id="email" required>
            <span class="input-label">Correo Electronico</span>
          </label>
        </div>
        <div class="input-group">
          <label class="input-fill">
            <input type="password" name="password" id="password" required>
            <span class="input-label">Contraseña</span>
          </label>
        </div>
        <a href="auth/register">¿Necesitas una Cuenta?</a>
        <a href="#">¿Olvidaste tu Contraseña?</a>
        <a href="app">Ir al cuerpo</a>
        <input type="submit" value="Iniciar Sesion" class="btn-login">
      </form>

    </div>
  </div>
</main>
<div class="content-footer">
  <small>2022&copy; <a href=""></a>World Pos Solutions S.A:S - Todos los Derechos Reservados</small>
</div>
