

<div class="side-menu">

  <a routerLink="/app" class="d-block text-light p-3"><i class="fa-solid fa-chart-line mx-2 "></i>Dashboard</a>
  <a routerLink="proyect" class="d-block text-light p-3"><i class="fa-solid fa-list-check mx-2"></i>Proyectos</a>
  <a routerLink="proyect/subproject" class="d-block text-light p-3"><i class="fa-solid fa-chart-line mx-2 "></i>Subproyectos</a>
  <a routerLink="area" class="d-block text-light p-3"><i class="fa-solid fa-layer-group mx-2 "></i>Área</a>
  <a routerLink="customer" class="d-block text-light p-3"><i class="fa-solid fa-list-check mx-2"></i>Gestionar Clientes</a>
  <a routerLink="user-story" class="d-block text-light p-3"><i class="fa-solid fa-clipboard mx-2"></i>Historia Usuario</a>
  <a routerLink="teams" class="d-block text-light p-3"><i class="fa-solid fa-people-carry-box mx-2"></i>Gestionar Equipo</a>
  <a routerLink="teams/team-task" class="d-block text-light p-3"><i class="fa fa-users mx-2"></i>Tareas por equipo</a>
  <a routerLink="employees" class="d-block text-light p-3"><i class="fa-solid fa-id-badge mx-2"></i>Gestionar Empleados</a>
  <a routerLink="sprints" class="d-block text-light p-3"><i class="fa fa-bar-chart mx-2" aria-hidden="true"></i>Gestionar Sprint</a>
  <a routerLink="board" class="d-block text-light p-3"><i class="fa fa-users mx-2"></i>Gestionar Tablero</a>
  <a routerLink="improvements" class="d-block text-light p-3"><i class="fa fa-users mx-2"></i>Gestionar mejoras</a>
</div>

<!-- <button mat-icon-button (click)="toggleSidenav()">
  <mat-icon>menu</mat-icon>
</button>
<mat-sidenav class="side-menu" #sidenav mode="side" [(opened)]="opened">

  <div >

    <a routerLink="/app" class="d-block text-light p-3"><i class="fa-solid fa-chart-line mx-2 "></i>Dashboard</a>
    <a routerLink="proyect" class="d-block text-light p-3"><i class="fa-solid fa-list-check mx-2"></i>Proyectos</a>
    <a routerLink="proyect/subproject" class="d-block text-light p-3"><i class="fa-solid fa-chart-line mx-2 "></i>Subproyectos</a>
    <a routerLink="area" class="d-block text-light p-3"><i class="fa-solid fa-layer-group mx-2 "></i>Área</a>
    <a routerLink="customer" class="d-block text-light p-3"><i class="fa-solid fa-list-check mx-2"></i>Gestionar Clientes</a>
    <a routerLink="user-story" class="d-block text-light p-3"><i class="fa-solid fa-clipboard mx-2"></i>Historia Usuario</a>
    <a routerLink="teams" class="d-block text-light p-3"><i class="fa-solid fa-people-carry-box mx-2"></i>Gestionar Equipo</a>
    <a routerLink="teams/team-task" class="d-block text-light p-3"><i class="fa fa-users mx-2"></i>Tareas por equipo</a>
    <a routerLink="employees" class="d-block text-light p-3"><i class="fa-solid fa-id-badge mx-2"></i>Gestionar Empleados</a>
    <a routerLink="sprints" class="d-block text-light p-3"><i class="fa fa-bar-chart mx-2" aria-hidden="true"></i>Gestionar Sprint</a>
    <a routerLink="board" class="d-block text-light p-3"><i class="fa fa-users mx-2"></i>Gestionar Tablero</a>
    <a routerLink="improvements" class="d-block text-light p-3"><i class="fa fa-users mx-2"></i>Gestionar mejoras</a>
  </div>
  </mat-sidenav> -->

