.side-menu {
  width: 100%;
  height: 100%;
  background: #0DB9C8;
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  font-size: 18px;
  overflow: auto;
}
a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  border-radius: 10px 0 0 10px;
  background-color: white;
  color: #0DB9C8 !important;
}



/*.item-menu {*/
/*  font-size: 18px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  padding: 10px 10px 10px 0px;*/
/*  color: white;*/
/*}*/

/*.item-menu a {*/
/*  text-decoration: auto;*/
/*  padding-left: 10px;*/
/*  color: white;*/
/*}*/

/*ul {*/
/*  padding: 0 !important;*/
/*}*/

/*.item-menu :hover {*/
/*  background-color: white;*/
/*  color: #0DB9C8;*/
/*}*/


/*.item-menu a:hover{*/
/*  background-color: white;*/
/*  color: #0DB9C8;*/
/*}*/



/*!*mat-sidenav {*!*/
/*!*  width: 100%;*!*/
/*!*  border-right: none;*!*/
/*!*  color: aliceblue;*!*/
/*!*  text-align: center;*!*/
/*!*  border-radius: 1px;*!*/
/*!*  background: rgb(2,54,41);*!*/
/*!*  background: linear-gradient(180deg, rgba(2,54,41,1) 23%, rgba(78,237,222,1) 100%);;*!*/
/*!*}*!*/

/*!*mat-sidenav-container {*!*/
/*!*  height: calc(100vh);*!*/
/*!*}*!*/

/*!*.mat-drawer-container {*!*/

/*!*}*!*/

/*!*.admin {*!*/
/*!*  width: 100%;*!*/
/*!*  height: auto;*!*/
/*!*  display: flex;*!*/
/*!*  align-items: center;*!*/
/*!*}*!*/

/*!*.img img {*!*/
/*!*  width: 41px;*!*/
/*!*  height: 41px;*!*/
/*!*  border-radius: 50%;*!*/
/*!*}*!*/

/*!*.img {*!*/
/*!*  width: 40px;*!*/
/*!*  height: 40px;*!*/
/*!*  border-radius: 50%;*!*/
/*!*  background: white;*!*/
/*!*}*!*/

/*!*.admin_name > h3 {*!*/
/*!*  margin-bottom: 3px;*!*/
/*!*}*!*/

/*!*.button_sidebar {*!*/
/*!*  width: 100%;*!*/
/*!*  height: auto;*!*/
/*!*  display: flex;*!*/
/*!*  align-items: flex-start;*!*/
/*!*  flex-direction: column;*!*/
/*!*  list-style: none;*!*/
/*!*  padding-top: 10px;*!*/
/*!*  padding-left: 0px;*!*/
/*!*}*!*/

/*!*.button_sidebar li {*!*/
/*!*  background: cadetblue;*!*/
/*!*  width: 100%;*!*/
/*!*  margin-bottom: 2px;*!*/
/*!*  padding: 10px 0px 10px 10px ;*!*/
/*!*  display: flex;*!*/
/*!*  align-items: center;*!*/

/*!*}*!*/

/*!*.button_sidebar li a {*!*/
/*!*margin-left: 4px;*!*/
/*!*}*!*/
/*!*.button_sidebar li:hover{*!*/
/*!*  background: #1f7778;*!*/
/*!*  cursor: pointer;*!*/
/*!*}*!*/


