<div class="container">
  <span class="title">Subproyecto</span>
  <nav class="navbar navbar-light bg-light">
    <p>Realice la busqueda correspondiente de los subproyectos para listar</p>
    <div class="search">
      <input class="form-control mr-sm" type="search" placeholder="Buscar subproyecto" aria-label="Search">
      <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </nav>


  <div class="title">
    <p>Lista de Subproyectos</p>
  </div>
  <div class="content">
    <button type="button" class="btn btn-primary mb-2" (click)="abrirModalSubprojetc()">Agregar
      subproyecto
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-ligth">
      <tr>
        <th scope="row" class="title_table">Nombre del subproyecto</th>
        <th scope="row" class="title_table">Proyecto</th>
        <th scope="row" class="title_table icon">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of subproject">
        <td>{{item.subProjectName}}</td>
        <td>{{item.projectName}}</td>
        <td class="icon">
          <button type="button" class="btn btn-success" [routerLink]="['/app/proyect/subproject-edit', item.subProjectId]" title="Editar Subproyecto"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-success mx-2" [routerLink]="['/app/proyect/subprojectc-see', item.subProjectId]"><i class="fa fa-eye" title="Visualizar subproyecto"></i></button>
          <button type="button" class="btn btn-success mx-1" [routerLink]="['/app/user-story/subprojet-add']" title="Agregar historia de usuario"><i class="fa fa-plus"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

