
<div class="conteiner">
  <div class="title">
    <p> Editar Áreas</p>
  </div>
  <form class="" [formGroup]="areaEditForm" (ngSubmit)="editArea()">

    <div class="input-group mb-4">
      <label class="col-sm-4 ">
        <input id="first-name" type="text" class="form-control" placeholder="Ingrese el nuevo nombre" formControlName="areaName" autocomplete="off">
      </label>
      <button class="btn btn btn-primary mb-2 mx-2" type="submit" [disabled]="areaEditForm.invalid" >Editar</button>
    </div>
  </form>
</div>
