<div class="container">
  <div class="title">
    <p> Agregar Proyecto</p>
  </div>

  <div class="form-row align-items-center">
    <form class="userStory-form" [formGroup]="proyectAddForm" (ngSubmit)="saveProyect()">

      <div class="form-group">
        <label>Nombre del proyecto</label>
        <input type="text" class="form-control" placeholder="Ingrese el nombre del proyecto"
               formControlName="proyectName">
      </div>

      <div class="form-group mb-3" >
        <span class="mr-sm">Seleccione el cliente</span>
        <div class="label-text">
          <select class="form-control" formControlName="proyectClient">
            <option  *ngFor="let client of clients" value="{{client.clientNit}}">{{ client.client_name}}</option>
         </select>
        </div>
      </div>

      <div class="form-group">
        <label>Seleccione el área</label>
        <select class="form-control" formControlName="proyectArea">
          <option value="{{area.areaId}}" *ngFor="let area of areas">{{area.areaName}}</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <form>
          <div class="form-group">
            <span class="mr-sm">Archivo</span>
            <input type="file" class="form-control-file" formControlName="userStoryArchive" (change)="upload_image($event)">
          </div>
        </form>
      </div>

      <button class="btn btn btn-primary mb-2" type="submit" [disabled]="proyectAddForm.invalid" (click)="CloseModal()">Agregar</button>
    </form>
  </div>
</div>

