<div class="container">
  <span class="title">Historias de ususario</span>
  <nav class="navbar navbar-light bg-light">
    <p>Realice la busqueda correspondiente de los proyectos para listar</p>
    <div class="search">
      <input class="form-control mr-sm" type="search" placeholder="Buscar proyecto" aria-label="Search">
      <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </nav>
  <div class="content">
    <button type="button" class="btn btn-primary mb-2" [routerLink]="['subprojet-add']">Agregar historia de usuario</button>
  </div>

  <div class="title">
    <p class="subtitle">Historias de usuario</p>
  </div>

  <div class="table-responsive">
    <table class="table table-condensed table-hover ">
      <thead class="thead-ligth">
      <tr>

        <th scope="row" class="title_table">Nombre de la historia</th>
        <th scope="row" class="title_table">Estado</th>
        <th scope="row" class="title_table">Fecha maxima</th>
        <th scope="row" class="title_table icon">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of userStory">
        <td>{{item.userStoryName}}</td>
        <td>{{item.userStoryStateName}}</td>
        <td>{{item.fechaMaxima}}</td>
        <td class="icon">
          <button type="button" class="btn btn-success" [routerLink]="['user_story_management_form',item.userStoryId]">
            <i class="fas fa-edit"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <!--                  <div class="input-group">-->
  <!--                    <label class="input-fill">-->
  <!--                      <span>Elija el subproyecto</span>-->
  <!--                      <select formControlName="subProjectId">-->
  <!--                        <option value="1">Enlace store</option>-->
  <!--                        <option value="2">Eon</option>-->
  <!--                      </select>-->
  <!--                    </label>-->
  <!--                  </div>-->

  <!--      <div class="input-group">-->
  <!--        <label class="input-fill">-->
  <!--          <span>Estado</span>-->
  <!--          <select formControlName="userStoryStateId">-->
  <!--            <option value="1">Creado</option>-->
  <!--            <option value="2">En Desarrollo</option>-->
  <!--            <option value="3">Desarrollado</option>-->
  <!--            <option value="4">Anulado</option>-->
  <!--            <option value="5">Refinado</option>-->
  <!--            <option value="6">Pausado</option>-->
  <!--          </select>-->
  <!--        </label>-->
  <!--      </div>-->


  <!--      <div class="input-group">-->
  <!--        <label class="input-fill_file">-->
  <!--          <span>Archivo</span>-->
  <!--          <input type="file" formControlName="userStoryArchive" (change)="upload_image($event)">-->
  <!--        </label>-->
  <!--      </div>-->

  <!--      <div class="input-group">-->
  <!--        <label class="input-fill">-->
  <!--          <span>Nombre historia de usuario</span>-->
  <!--          <input type="text" formControlName="userStoryName">-->
  <!--        </label>-->
  <!--      </div>-->
  <!--            <button class="btn btn btn-primary mb-2" type="submit" [disabled]="userStoryForm.invalid">Guardar</button>-->


  <!--  -->
  <!--  <div class="title">-->
  <!--    <p> Historias de usuario</p>-->
  <!--  </div>-->
  <!--  <div class="container-table">-->
  <!--    <table class="table">-->
  <!--      <thead class="dark">-->

  <!--      <th scope="col">Archivo</th>-->
  <!--      <th scope="col">Nombre de la Historia</th>-->
  <!--      <th scope="col">Estado</th>-->
  <!--      <th scope="col">Opcciones</th>-->
  <!--      </thead>-->
  <!--      <tbody>-->
  <!--      <tr *ngFor="let item of userStory">-->
  <!--        <td>{{item.userStoryArchive}}</td>-->
  <!--        <td>{{item.userStoryName}}</td>-->
  <!--        <td>{{item.userStoryState.userStoryStateName}}</td>-->
  <!--        <button class="btn-login-table" [routerLink]="['user_story_management_form',item.userStoryId]">Editar</button>-->
  <!--      </tr>-->
  <!--      </tbody>-->
  <!--    </table>-->
  <!--  </div>-->




